<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SyndicationServiceBugTrack.Properties.Settings.BugTrackConnectionString"
      connectionString="Data Source=localhost\sqlexpress;Initial Catalog=BugTrack;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="SyndicationServiceBugTrack.Feed1">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/SyndicationServiceBugTrack/" />
          </baseAddresses>
        </host>
        <endpoint contract="SyndicationServiceBugTrack.IFeed1" address="Feed1" binding="webHttpBinding" behaviorConfiguration="SyndicationServiceBugTrack.Feed1Behavior"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SyndicationServiceBugTrack.Feed1Behavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
