<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="SyndicationServiceBugTrack.Feed1">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/SyndicationServiceBugTrack/" />
          </baseAddresses>
        </host>
        <endpoint contract="SyndicationServiceBugTrack.IFeed1" address="Feed1" binding="webHttpBinding" behaviorConfiguration="SyndicationServiceBugTrack.Feed1Behavior" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SyndicationServiceBugTrack.Feed1Behavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="BugTrackLikeEntities" connectionString="metadata=res://*/DataAccess.model.csdl|res://*/DataAccess.model.ssdl|res://*/DataAccess.model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=YOAN-PC\DUDUL;Initial Catalog=BugTrackLike;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>